/* -------------------------------------------------------------------------- */
/*                               Список переваг                               */
/* -------------------------------------------------------------------------- */
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.benefits-list__item {
  @include padding(15px, 15px, 15px, 15px);

  box-shadow: 0 0 11px rgba(33, 33, 33, 0.15);
  border-radius: 10px;
}

.benefits-list__title {
  @include margin(0, 0, 30px, 0);

  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.benefits-list__group {
  display: flex;
}

.benefits-list__icon {
  fill: var(--accent_cl);
}

.benefits-list__desc {
  @include margin(0, 0, 0, 20px);

  max-width: 270px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
