/* -------------------------------------------------------------------------- */
/*                           Форма зворотній зв’язок                          */
/* -------------------------------------------------------------------------- */
.form-feedback {
  display: flex;

  width: 770px;
  height: 550px;

  background-color: var(--white_cl);

  border-radius: 10px;
  box-shadow: 24px 33px 12px rgba(0, 0, 0, 0.1);
}

.form-feedback__group {
  @include margin(0, 0, 0, 10px);
  @include padding(50px, 30px, 30px, 0);

  text-align: center;
  width: 55%;
}

.form-feedback__title {
  @extend %form-title;
}

.form-feedback__item:nth-child(n + 2) {
  @include margin(40px, 0, 0, 0);
}

.form-feedback__wrapper {
  position: relative;
}

.form-feedback__input,
.form-feedback__textarea {
  @include padding(5px, 35px, 5px, 20px);

  width: 300px;

  font-size: 12px;
  line-height: 1.2;

  background-color: transparent;

  border: 1px solid rgba(182, 181, 181, 0.4);
  border-radius: 5px;

  box-shadow: 4px 3px 9px rgba(0, 0, 0, 0.11);
  outline: transparent;

  // фокус
  &:focus,
  &:not(:placeholder-shown) {
    // не валдні дані
    &:invalid:not(:placeholder-shown) {
      border-color: var(--warnning_cl);
    }

    // валідні дані
    &:valid:not(:placeholder-shown) {
      border-color: var(--success-cl);
    }
  }
}

.form-feedback__input {
  height: 40px;
}

.form-feedback__textarea {
  resize: none;
}

// плейсхолдер
.placeholder {
  &::placeholder {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: var(--secondary_gray_cl);
    opacity: 0;

    transition: opacity $anim-two;
  }

  // фокус
  &:focus::placeholder {
    opacity: 1;
  }
}

// Підпис
.form-feedback__label,
.form-feedback__label-textarea {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;

  color: var(--label_form_cl);

  transition: transform $anim-one;
}

.form-feedback__label {
  position: absolute;
  top: 50%;
  left: 20px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;

  color: var(--label_form_cl);

  transform: translateY(-50%);
}

.form-feedback__decor {
  color: var(--blue_cl);
}

.form-feedback__label-textarea {
  position: absolute;
  left: 20px;
  bottom: 35px;
}

// фокус для підпису
.form-feedback__input:focus + .form-feedback__label,
.form-feedback__input:not(:placeholder-shown) + .form-feedback__label {
  transform: translateY(-40px) translateX(-20px);
  transform-origin: top left;
}

.form-feedback__textarea:focus + .form-feedback__label-textarea,
.form-feedback__textarea:not(:placeholder-shown) + .form-feedback__label-textarea {
  transform: translateY(-32px) translateX(-20px);
  transform-origin: top left;
}

// Іконки та текст валдіності даних
.form-feedback__txt-error {
  position: absolute;
  left: 0;
  bottom: -150%;

  font-size: 10px;
}

.form-feedback__icons-error {
  position: absolute;
  right: 15px;
  top: 50%;

  transform: translateY(-50%);
}

.icon-attention,
.txt-error {
  color: var(--warnning_cl);
  fill: var(--warnning_cl);
  opacity: 0;

  transition: opacity $anim-two;
}

.icon-success {
  fill: var(--success-cl);
  opacity: 0;

  transition: opacity $anim-two;
}

// Валідність введених даних
.form-feedback__input:focus:invalid ~ .form-feedback__icons-error .icon-attention,
.form-feedback__input:focus:invalid ~ .form-feedback__txt-error {
  opacity: 1;
}

.form-feedback__input:focus:valid ~ .form-feedback__icons-error .icon-success,
.form-feedback__input:valid:not(:placeholder-shown) ~ .form-feedback__icons-error .icon-success {
  opacity: 1;
}

// Кнопка
.form-feedback__btn {
  @include margin(22px, 0, 0, 0);

  width: 150px;
  height: 40px;

  font-weight: 700;
  font-size: 13px;
  line-height: 1.15;

  color: var(--white_cl);
  background: linear-gradient(251.05deg, #28df99 37.22%, rgba(40, 223, 153, 0) 144.66%);

  border: transparent;
  border-radius: 200px;

  cursor: pointer;
  outline: transparent;
  filter: drop-shadow(0px 7px 9px rgba(40, 223, 153, 0.38));
}
