/* -------------------------------------------------------------------------- */
/*                              Зоголовок секцій                              */
/* -------------------------------------------------------------------------- */
.section-title {
  @include margin(0, 0, 50px, 0);

  font-size: 27px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  text-align: center;
}
