/* --------------------------------- Шрифти --------------------------------- */
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
/* -------------------------------------------------------------------------- */

:root {
  /* --------------------------------- Кольори -------------------------------- */
  --white_cl: #ffffff;

  --black_cl: #000000;
  --main_bg_cl: #113d2c;

  --accent_cl: #28df99;
  --accent_hover_cl: #20c988;

  --status_error: #ff8282;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------- Анімація -------------------------------- */
$anim-one: 350ms cubic-bezier(0.4, 0, 0.2, 1);
$anim-two: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$anim-slow: 600ms ease-in-out;
/* -------------------------------------------------------------------------- */

// Висота героя
$height-hero: 100%;
