/* -------------------------------------------------------------------------- */
/*                           Заключна частина сайту                           */
/* -------------------------------------------------------------------------- */
.site-footer {
  @include padding(50px, 0, 33px, 0);

  background-color: var(--main_bg_cl);
}

.site-footer__group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include margin(0, 0, 45px, 0);
}

.site-footer__main-nav {
  @include margin(0, 0, 0, 40px);
}

/* ----------------------------- Номер телефону ----------------------------- */
.site-footer__wrapper {
  @include margin(0, 0, 0, 60px);
}

.contact-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--white_cl);

  transition: color $anim-two;

  // ховер та фокус
  &:hover,
  &:focus {
    color: var(--accent_cl);
  }
}

/* ------------------------------- Копирайтер ------------------------------- */
.site-footer__desc {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  text-align: center;

  color: var(--white_cl);
}
