/* -------------------------------------------------------------------------- */
/*                                 Шапка сайту                                */
/* -------------------------------------------------------------------------- */
.site-header {
  position: fixed;
  top: 0;
  z-index: 5;

  width: 100%;

  background-image: linear-gradient(
    109.24deg,
    rgba(232, 247, 154, 0.5) 2.67%,
    rgba(232, 247, 154, 0.226562) 60.71%,
    rgba(232, 247, 154, 0) 108.8%
  );
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);

  transition: background-color $anim-slow, backdrop-filter $anim-slow, box-shadow $anim-slow;

  &.js-no-transparency {
    background-image: linear-gradient(
      109.24deg,
      rgba(232, 247, 154, 0.5) 2.67%,
      rgba(232, 247, 154, 0.226562) 60.71%,
      rgba(232, 247, 154, 0.5) 108.8%
    );
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
  }
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__main-nav {
  @include margin(0, 0, 0, 82px);
}

.site-header__cabinet-group {
  @include margin(0, 0, 0, 45px);
}

/* --------------------------------- Логотип -------------------------------- */
.logo-link {
  transition: opacity $anim-two;

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}
